<!--<html>
	<body>
		<div class="container">
			<div class="d-flex flex-column">
				<p class="m-auto">Your password has been reset. You may go ahead and <a href="{% url 'login' %}">sign in</a> now.</p>
			</div>
		</div>
	</body>
</html>-->

<html>
<head>
	{% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<title>Complete!</title>
	<link rel = "icon" href = "{% static 'img/rajput.5dce6ed4.jpg' %}" type = "image/x-icon">
	<link rel="stylesheet" href="{% static 'css/login_style.css' %}">
</head>
<body>
	<div class="container">
        <div class="form-container" id="login-form">
          <h1>Password reset complete!</h1>
          <p>You may go ahead and <a id="signup-link" href="{% url 'login' %}">Log in</a> now</p>
        </div>
    </div>
</body>