<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Sign Up</title>
    <link rel = "icon" href = "{% static 'img/rajput.5dce6ed4.jpg' %}" type = "image/x-icon">
    <link rel="stylesheet" href="{% static 'css/login_style.css' %}">
</head>
<body>
    <div class="container">
        <div class="form-container" id="login-form">
            <h1>Sign Up</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Submit</button>
            </form>
            <p>Already have an account? <a href="{% url 'login' %}" id="login-link">Login</a></p>
            <p>Go back <a id="signup-link" href="{% url 'home' %}">home</a></p>
          </div>
    </div>
</body>

</html>