<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>
    <title>Facilities</title>
    <link rel="stylesheet" href="{% static 'css/jquery.flipster.min.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/about_us.css' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!--===== Boxicons CSS =====-->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <style>
      body, html {height: 100%}
      .bgimg, .bgimg2 {
        min-height: 100%;
        background-position: center;
        background-size: cover;
      }
      .bgimg {background-image: url("/w3images/wedding_couple.jpg")}
      .bgimg2 {background-image: url("/w3images/flowers.jpg")}

      /* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #E3F2FD;
}
.select-menu{
    width: 380px;
    margin: 140px auto;
}
.select-menu .select-btn{
    display: flex;
    height: 55px;
    background: #fff;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
.select-btn i{
    font-size: 25px;
    transition: 0.3s;
}
.select-menu.active .select-btn i{
    transform: rotate(-180deg);
}
.select-menu .options{
    position: relative;
    padding: 20px;
    margin-top: 10px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
    display: none;
}
.select-menu.active .options{
    display: block;
}
.options .option{
    display: flex;
    height: 55px;
    cursor: pointer;
    padding: 0 16px;
    border-radius: 8px;
    align-items: center;
    background: #fff;
}
.options .option:hover{
    background: #F2F2F2;
}
.option i{
    font-size: 25px;
    margin-right: 12px;
}
.option .option-text{
    font-size: 18px;
    color: #333;
}
.room-content {
  display: none;
  margin: 20px 0;
}

.room-content h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.room-content img {
  max-width: 100%;
  margin-bottom: 10px;
}

    </style>
    <link href='https://fonts.googleapis.com/css?family=Gotham' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/60b8b92dd8.js" crossorigin="anonymous"></script>
</head>
<body>
  <div id="header">
    <header>
        <a href="{%url 'home' %}" class="logo">Hall 2</a>
        <ul>
            <li><a href="{%url 'home' %}">Home</a></li>
            <li><a href="{%url 'about' %}">About</a></li>
            <li><a href="{%url 'mess_about' %}">Mess</a></li>
            <li><a href="{%url 'facilities' %}">Facilities</a></li>
            <li><a href="{%url 'guest_home' %}">Guest Room Booking</a></li>
            <li><a href="{%url 'login' %}">Login</a></li>
        </ul>
    </header>
    <section class="banner" style="background: url('{% static 'img/bg.png' %}')"> 
      <div class="header-text">
          <h1> Hall 2 <span class="auto-type"></span></h1>
      </div>
  </section>
  </div>
  <!-- Header / Home-->
<!-- About / Jane And John -->
<div class="w3-container w3-padding-64 w3-pale-blue w3-grayscale-min" style="background-color:#9faed8" id="us">
  <div class="w3-content">
    <h1 class="w3-center w3-text-grey"><b>Facilities</b></h1>
    <br>
    <p><i>To make life of Hall residents easier we have various facilities with broad categories of Guest Rooms, Common Rooms, Sports Facilities</i></p>
    <p><i>There are six guest rooms in the hall for visitors of students to stay in. They can be booked online through this website.</i></p>
    <p><i>The common rooms present in the hall is the reading room, TV room, HEC room. They are usually used for use by the GBM for studying/entertainment/meetings etc...</i></p>
    <p><i>There are a variety of sports facilities available including basketball, batminton, football and volleyball ground. There is also a TT room present. The equipment necessary to play these various sports is also provided. There is also a gym present in the hall.</i></p>
    <p><i>More information about these facilities can be found below</i></p>
  </div>
</div>
<br>

{% comment %} ----------------dropdown--------------------- {% endcomment %}
<div class="select-menu">
  <div class="select-btn">
      <span class="sBtn-text">Select your option</span>
      <i class="bx bx-chevron-down"></i>
  </div>

  <ul class="options" data-value="guest">
      <li class="option">
          <i class='bx bx-male-female' style="color: #171515;"></i>
          <span class="option-text">Guest Room</span>
      </li>
      <li class="option" data-value="reading">
          <i class='bx bx-laptop' style="color: #E1306C;"></i>
          <span class="option-text">Reading Room</span>
      </li>
      <li class="option" data-value="gym">
          <i class="bx bx-dumbbell" style="color: #0E76A8;"></i>
          <span class="option-text">Gym</span>
      </li>
      <li class="option" data-value="sport">
          <i class='bx bxs-cricket-ball' style="color: #4267B2;"></i>
          <span class="option-text">Sport Facilities</span>
      </li>
      <li class="option" data-value="tv">
          <i class="bx bx-tv" style="color: #1DA1F2;"></i>
          <span class="option-text">TV Room</span>
      </li>
      <li class="option" data-value="hec_room">
        <i class='bx bx-bell' style="color: #8786bf;"></i>
        <span class="option-text">HEC Room</span>
    </li>
  </ul>
</div>

{% comment %} -----------------content-------------------------
-------------------------------for dropdown--------------------{% endcomment %}
<div class="room-content guest-room">
  <h2>Guest Room</h2>
  <img src="guest-room.jpg" alt="Guest Room">
  <p>Welcome to our guest room. This room features a comfortable bed, a writing desk, and a private bathroom.</p>
</div>

<div class="room-content reading-room">
  <h2>Reading Room</h2>
  <img src="reading-room.jpg" alt="Reading Room">
  <p>Welcome to our reading room. This room is the perfect place to relax and read a book, with cozy armchairs and plenty of natural light.</p>
</div>

<div class="room-content gym">
  <h2>Gym</h2>
  <img src="gym.jpg" alt="Gym">
  <p>Welcome to our gym. This room is fully equipped with treadmills, weights, and other exercise equipment, so you can stay in shape during your stay.</p>
</div>

<div class="room-content sport-facilities">
  <h2>Sport Facilities</h2>
  <img src="sport-facilities.jpg" alt="Sport Facilities">
  <p>Welcome to our sport facilities. This room features a basketball court, a volleyball court, and other equipment for a variety of sports.</p>
</div>

<div class="room-content tv-room">
  <h2>TV Room</h2>
  <img src="tv-room.jpg" alt="TV Room">
  <p>Welcome to our TV room. This room features a large screen TV, comfortable sofas, and a selection of DVDs for your entertainment.</p>
</div>

<div class="room-content hec-room">
  <h2>HEC Room</h2>
  <img src="hec-room.jpg" alt="HEC Room">
  <p>Welcome to our HEC room. This room is designed for meetings and conferences, with a large conference table, comfortable chairs, and all the equipment you need for a successful event.</p>
</div>

<!--<script src="script.js"></script>-->

<!-- Wedding information -->
    
  <footer id="footer" class="footer">
  
      <div class="footer-top" style="background: url('{% static 'img/footer-bg.png' %}')">
        <div class="container">
          <div class="row gy-4">
            <div class="col-lg-5 col-md-12 footer-info">
              <a href="index.html" class="logo d-flex align-items-center">
                <img src="{% static 'img/logo.jpg' %}" alt="">
                <span>Hall 2</span>
              </a>
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat ducimus similique nihil hic quis minus quisquam commodi, maxime voluptate vero. Dolor natus cum ex atque perferendis voluptatem dolore sunt! Corporis!</p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
  
            <div class="col-lg-2 col-6 footer-links">
              <h4>Useful Links</h4>
              <ul>
                <li><i class="bi bi-chevron-right"></i> <a href="#header">Home</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="#about">About us</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="#facility">Facility</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="#hec">HEC</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="#contact">Contact us</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
              <h4>Contact Us</h4>
              <p>
                  Hall of Residence II<br>
                  Sixth Ave, Nankari, Kalyanpur<br>
                  Kanpur, Uttar Pradesh 208016<br><br>
                <strong>Phone:</strong> +918785666548<br>
                <strong>Email:</strong> hall2@iitk.in<br>
              </p>
  
            </div>
  
          </div>
        </div>
      </div>
    </footer>
  </div>
<!-- End Footer -->




{% comment %} ------------------JS------------------------------------ {% endcomment %}
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script>
  const optionMenu = document.querySelector(".select-menu"),
       selectBtn = optionMenu.querySelector(".select-btn"),
       options = optionMenu.querySelectorAll(".option"),
       sBtn_text = optionMenu.querySelector(".sBtn-text");

selectBtn.addEventListener("click", () => optionMenu.classList.toggle("active"));       

options.forEach(option =>{
    option.addEventListener("click", ()=>{
        let selectedOption = option.querySelector(".option-text").innerText;
        sBtn_text.innerText = selectedOption;

        optionMenu.classList.remove("active");
    });
});

</script>
<script>
  $(document).ready(function() {
    $('.options').on('click', 'li', function() {
      var selectedOption = $(this).data('value');
  
      if (selectedOption === 'guest') {
        // show guest room elements
        $('.guest-room').show();
        // hide other room elements
        $('.reading-room, .gym, .sport-facilities, .tv-room, .hec-room').hide();
      } else if (selectedOption === 'reading') {
        // show reading room elements
        $('.reading-room').show();
        // hide other room elements
        $('.guest-room, .gym, .sport-facilities, .tv-room, .hec-room').hide();
      } else if (selectedOption === 'gym') {
        // show gym elements
        $('.gym').show();
        // hide other room elements
        $('.guest-room, .reading-room, .sport-facilities, .tv-room, .hec-room').hide();
      } else if (selectedOption === 'sport') {
        // show sport facilities elements
        $('.sport-facilities').show();
        // hide other room elements
        $('.guest-room, .reading-room, .gym, .tv-room, .hec-room').hide();
      } else if (selectedOption === 'tv') {
        // show TV room elements
        $('.tv-room').show();
        // hide other room elements
        $('.guest-room, .reading-room, .gym, .sport-facilities, .hec-room').hide();
      } else if (selectedOption === 'hec_room') {
        // show HEC room elements
        $('.hec-room').show();
        // hide other room elements
        $('.guest-room, .reading-room, .gym, .sport-facilities, .tv-room').hide();
      }
    });
  });   
</script>
<script type="text/javascript">
  $('.dropdown').click(function(){
    $(this).find('ul').toggle();
});

    window.addEventListener("scroll",function(){
        var header=document.querySelector("header");
        header.classList.toggle("sticky",window.scrollY > 0);
    })
</script>
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
<script>
  var typed = new Typed(".auto-type",{
      strings: ['Facilities','Guest Room','Reading Room','TV Room', 'Gym', 'Sports'],
      typeSpeed:100,
      backSpeed:60,
      loop: true
  })
  </script>
</body>
</html>