<!DOCTYPE html>
<html>
<head>
	{% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Guest Room Booking</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<!-- Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<!-- Custom styles -->
	<link rel="stylesheet" href="{% static 'css/jquery.flipster.min.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/about_us.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Gotham' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/60b8b92dd8.js" crossorigin="anonymous"></script>
	<style>
		form {
			max-width: 500px;
			margin: 0 auto;
			padding: 20px;
			background-color: #f5f5f5;
			border-radius: 10px;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
		}
		h1 {
			text-align: center;
			margin-top: 50px;
		}
	</style>
</head>
<body>
	<div id="header">
		<header>
			<a href="{%url 'home' %}" class="logo">Hall 2</a>
			<ul>
				<li><a href="{%url 'home' %}">Home</a></li>
				<li><a href="{%url 'about' %}">About</a></li>
				<li><a href="{%url 'mess_about' %}">Mess</a></li>
				<li><a href="{%url 'facilities' %}">Facilities</a></li>
				<li><a href="{%url 'guest_home' %}">Guest Room Booking</a></li>
				<li><a href="{%url 'login' %}">Login</a></li>
			</ul>
		</header>
	  </div>
    <br>
	<br>
	<h1>Guest Room Booking</h1>
	<form action="" method="POST" id="guestbook">
		{% csrf_token %}
        <div class="form-group">
			<label for="roll_number_referred_student">Roll Number of referal:</label>
            <input type="number" id="roll_number_referred_student" name="roll_number_referred_student" value="{{guest_booker.hall_user.username}}" readonly>
		</div>
        <div class="form-group">
			<label for="name_referred_student">Name:</label>
            <input type="text" id="name_referred_student" name="name_referred_student" value="{{guest_booker.name_of_booker}}" readonly>
		</div>
        <div class="form-group">
			<label for="roll_number_booker">Roll number:</label>
            <input type="number" id="roll_number_booker" name="roll_number_booker" value="{{guest_booker.roll_number_booker}}" readonly>
		</div>
		<div class="form-group">
			<label for="check_in">Check-in date:</label>
			<input type="date" id="check_in" name="check_in" class="form-control">
		</div>
		<div class="form-group">
			<label for="check_out">Check-out date:</label>
			<input type="date" id="check_out" name="check_out" class="form-control">
		</div>
		<label for="room_preference" class="col-sm-2 col-form-label" style="max-width:200px">Room Preference:</label>
                        <div class="col-sm-3" style="max-width:200px">
                            <select name="room_preference" id="room_preference" class="form-control">
                                <option value="0">No Preference</option>
                                <option value="1">Room 1</option>
                                <option value="2">Room 2</option>
                                <option value="3">Room 3</option>
                                <option value="4">Room 4</option>
                                <option value="5">Room 5</option>
                                <option value="6">Room 6</option>
                            </select>
                        </div>
		<br>
        <div class="form-group">
			<label for="check_out">Number of Guests:</label>
			<input type="number" id="number_of_guests" name="number_of_guests" min="1" max = "4" class="form-control">
		</div>
        <div class="form-group">
			<label for="check_out">Mobile Number of Student:</label>
			<input type="number" id="mobile_of_student" name="mobile_of_student" class="form-control">
		</div>
        <div class="form-group">
			<label for="address_of_student">Hall and Room No. of Student:</label>
			<input type="text" id="address_of_student" name="address_of_student" class="form-control">
		</div>
        <div class="form-group">
			<label for="check_out">Mobile Number of Guest:</label>
			<input type="number" id="mobile_of_guest" name="mobile_of_guest" class="form-control">
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
	<br><br><br>
	<footer id="footer" class="footer">
  
		<div class="footer-top" style="background: url('{% static 'img/footer-bg.png' %}')">
		  <div class="container">
			<div class="row gy-4">
			  <div class="col-lg-5 col-md-12 footer-info">
				<a href="index.html" class="logo d-flex align-items-center">
				  <img src="{% static 'img/logo.jpg' %}" alt="">
				  <span>Hall 2</span>
				</a>
				<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat ducimus similique nihil hic quis minus quisquam commodi, maxime voluptate vero. Dolor natus cum ex atque perferendis voluptatem dolore sunt! Corporis!</p>
				<div class="social-links mt-3">
				  <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
				  <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
				  <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
				  <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
				</div>
			  </div>
	
			  <div class="col-lg-2 col-6 footer-links">
				<h4>Useful Links</h4>
				<ul>
				  <li><i class="bi bi-chevron-right"></i> <a href="#header">Home</a></li>
				  <li><i class="bi bi-chevron-right"></i> <a href="#about">About us</a></li>
				  <li><i class="bi bi-chevron-right"></i> <a href="#facility">Facility</a></li>
				  <li><i class="bi bi-chevron-right"></i> <a href="#hec">HEC</a></li>
				  <li><i class="bi bi-chevron-right"></i> <a href="#contact">Contact us</a></li>
				</ul>
			  </div>
			  <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
				<h4>Contact Us</h4>
				<p>
					Hall of Residence II<br>
					Sixth Ave, Nankari, Kalyanpur<br>
					Kanpur, Uttar Pradesh 208016<br><br>
				  <strong>Phone:</strong> +918785666548<br>
				  <strong>Email:</strong> hall2@iitk.in<br>
				</p>
	
			  </div>
	
			</div>
		  </div>
		</div>
	  </footer>
	</div><!-- End Footer -->
	<script type="text/javascript">
		$('.dropdown').click(function(){
		  $(this).find('ul').toggle();
	  });
	  
		  window.addEventListener("scroll",function(){
			  var header=document.querySelector("header");
			  header.classList.toggle("sticky",window.scrollY > 0);
		  })
	  </script>
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script>
        var frm = $('#guestbook');
        frm.submit(function () {
            $.ajax({
                type: frm.attr('method'),
                url: frm.attr('action'),
                data: frm.serialize(),
                success: function(data) {
                    if(data=="Success")
                    { 
                      alert("Booking Succesfull");
                      window.location.replace("{% url 'guest_home' %}");
                    }
                    else
                    {
                      alert(data);
                    }
                }
            });
            return false;
        });
    </script>
</body>
</html>