<!--<html>
	<body>
		<div class="container">
			<div class="d-flex flex-column">
				<p class="m-auto">Your password has been reset. You may go ahead and <a href="{% url 'login' %}">sign in</a> now.</p>
			</div>
		</div>
	</body>
</html>-->

<html>
<head>
	{% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<title>Complete!</title>
	<link rel = "icon" href = "{% static 'img/rajput.5dce6ed4.jpg' %}" type = "image/x-icon">
	<style>
		.merkbox {
			margin-top: 0rem;
			padding-bottom: 1rem;
			margin-bottom: 2rem;
		  width: 50%;
		   box-shadow: 0 0 8px rgba(0, 0, 0, .8);
			-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
			-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8); 
		}
		
		.merktitel {
			background-color: skyblue;
			margin-bottom: 0rem;
			min-height: 1rem;
			padding: 0.5rem 0.5rem 0.3rem 1rem;
		}
		
		.merktitel p {
			color: white;
			font-family: 'Arvo', serif;
			font-size: 1.5rem;
		}
	</style>
</head>
<body>
	<div align="center">
		<div class="merkbox">
		  <div class="merktitel" style="background-color: #22995f">
			<p>
			  Your password has been reset. 
			</p>
			<p>You may go ahead and <a href="{% url 'login' %}">sign in</a> now.
			</p>
		  </div>
		</div>
	</div>
</body>