<!--
<body>
    <div class="announcement">
        <h2>{{poll.poll_title}}</h2>
        <span><em> ~ {{poll.username}}</em></span>
        <p style="font-size:1.25em">{{poll.poll_description}}</p>
        <h5>Deadline for voting : {{poll.poll_deadline}}</h5>
    </div>
    <br><br><br>
    {% if user_vote_status%}
        <p align="center">Thank you for voting! Results will be published after deadline</p>
    {% endif %}
    {% if not user_vote_status %}
    <section id="poll_question">
        <h3>{{poll.poll_question}}</h3>
        <div class="poll-option">
          <button id="opt1" data-id="{{poll.id}}" class="btn btn-primary" type="button">Agree</button>
        </div>
        <div class="poll-option">
            <button id="opt2" data-id="{{poll.id}}" class="btn btn-primary" type="button">Disagree</button>
        </div>
    </section>
    {% endif %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script>
        $('#opt1').click(function(){
            var poll_id;
            var upvote;
            var downvote;
            poll_id = $(this).attr("data-id");
            $.post('/polls/view/', {'upvote': 1, 'downvote': 0, 'id': poll_id, 'csrfmiddlewaretoken':"{{ csrf_token }}"}, function(data){
                alert( data );
            });
        });
        $('#opt2').click(function(){
            var poll_id;
            var upvote;
            var downvote;
            poll_id = $(this).attr("data-id");
            $.post('/polls/view/', {'upvote': 0, 'downvote': 1, 'id': poll_id, 'csrfmiddlewaretoken':"{{ csrf_token }}"}, function(data){
                alert( data );
            });
        });
    </script>
</body>
</html> -->

<!DOCTYPE html>
<head>
    <title>Poll</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%load static%}
    <link rel="stylesheet" href="{% static 'css/send_vote.css' %}">
    <script src="https://use.fontawesome.com/fe459689b4.js"></script>
    <style>
        .topnav {
            overflow: hidden;
            background-color: #333;
          }
          
          .topnav a {
            float: left;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
          }
          
          .topnav a:hover {
            background-color: #ddd;
            color: black;
          }
          
          .topnav a.active {
            background-color: #04AA6D;
            color: white;
          }
    </style>
</head>
<body>
    <header>
        <div class="topnav">
            <h1 align="center" style="font-family: 'Times New Roman';color:White;font-size:28px">Hall 2</h1>
            <a href="{%url 'profile' %}">Profile</a>
            <a href="{%url 'bookings' %}">Guest Room Booking</a>
            <a href="{%url 'queries' %}">Complaint Portal</a>
            <a class="active" href="{%url 'polls' %}">Polls</a>
            {% if not user.is_staff %}
                <a href="{%url 'send_anon_complaint' %}">Complain2HEC</a>
            {% endif %}
            {% if user.is_staff %}
                <a href="{%url 'anon_complaints_view' %}">Anon Complaints</a>
                <a href="{%url 'make_announcement' %}">Make Announcement</a>
            {% endif %}
            <a href="{%url 'change_password' %}">Change Password</a>
            <a href="{%url 'logout' %}">Logout</a>
        </div>
    </header>
    <br>
    <div class="container">  
        <form id="contact" action="" method="post">
        <h3>{{poll.poll_title}}</h3>
        <h4><em> ~ {{poll.username}}</em></h4>
        <p>{{poll.poll_description}}</p>
        <br>
        {% if active %}
            {% if user_vote_status%}
                <h5 align="center">Thank you for voting! Results will be published after deadline</h5>
            {% endif %}
            {% if not user_vote_status %}
            <h5 align="center">{{poll.poll_question}}</h5>
            <div style = "justify-content: center; margin-left: 400px;">
                <button id="opt1" data-id="{{poll.id}}" style="margin-top: 15px;background-color: #000000;font-size: 16px;color:white;padding: 5px 10px;" type="button">{{poll.opt1}}</button>
                <button id="opt2" data-id="{{poll.id}}" style="margin-top: 15px;background-color: #000000;font-size: 16px;color:white;padding: 5px 10px;" class="button" type="button">{{poll.opt2}}</button>
            </div>
            {% endif %}
        {% endif %}
        {% if not active %}
            <h5 align="center">Results for the above poll:</h5>
            <h4 align="center" style="color:black">{{poll.opt1}} : {{opt1percentage}}</h6>
            <h4 align="center" style="color:black">{{poll.opt2}} : {{opt2percentage}}</h6>
        {% endif %}
        </form>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script>
        $('#opt1').click(function(){
            var poll_id;
            var upvote;
            var downvote;
            poll_id = $(this).attr("data-id");
            $.post('/polls/view/', {'opt1': 1, 'opt2': 0, 'id': poll_id, 'csrfmiddlewaretoken':"{{ csrf_token }}"}, function(data){
                alert( data );
                location.reload(true)
            });
        });
        $('#opt2').click(function(){
            var poll_id;
            var upvote;
            var downvote;
            poll_id = $(this).attr("data-id");
            $.post('/polls/view/', {'opt1': 0, 'opt2': 1, 'id': poll_id, 'csrfmiddlewaretoken':"{{ csrf_token }}"}, function(data){
                alert( data );
                location.reload(true)
            });
        });
    </script>
</body>