
<!DOCTYPE html>
<html>
<head>
	<title>New Poll</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<!-- Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<!-- Custom styles -->
	<style>
		form {
			max-width: 500px;
			margin: 0 auto;
			padding: 20px;
			background-color: #f5f5f5;
			border-radius: 10px;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
		}
		h1 {
			text-align: center;
			margin-top: 50px;
		}
	</style>
</head>
<body>
	<h1>Create New Poll:</h1>
	<form action="" method="POST" id="your_form">
		{% csrf_token %}
		<div class="form-group">
			<label for="poll_title">Poll Subject:</label>
            <textarea name="poll_title" id="poll_title" placeholder="Title of Poll" class="form-control"></textarea>
		</div>
        <div class="form-group">
			<label for="poll_description">Poll Description:</label>
            <textarea name="poll_description" id="poll_description" placeholder="About the Poll" class="form-control"></textarea>
		</div>
        <div class="form-group">
			<label for="poll_question">Poll Question:</label>
            <input name="poll_question" id="poll_question" placeholder="Question asked by poll of Y/N type" class="form-control"></textarea>
		</div>
        <div class="form-group">
			<label for="poll_deadline">Poll Deadline:</label>
            <input type="date" name="poll_deadline" id="poll_deadline" class="form-control">
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
    <br>
    <div style="margin-bottom:20px;text-align:center"><a href = "{% url 'polls' %}" class="btn btn-primary">Back to Polls</a></div>
</body>
</html>