<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>

    <!-- Custom Css -->
    <link rel="stylesheet" href="{% static 'css/profile_style.css' %}">

    <!-- FontAwesome 5 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <style>
        .topnav {
            overflow: hidden;
            background-color: #333;
          }
          
          .topnav a {
            float: left;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
          }
          
          .topnav a:hover {
            background-color: #ddd;
            color: black;
          }
          
          .topnav a.active {
            background-color: #04AA6D;
            color: white;
          }
    </style>
</head>

<body>
    <!-- Navbar top -->
    <header>
        <div class="topnav">
            <h1 align="center" style="font-family: 'Times New Roman';color:White;font-size:28px">Hall 2</h1>
            <a class="active" href="{%url 'profile' %}">Profile</a>
            <a href="{%url 'bookings' %}">Guest Room Booking</a>
            <a href="{%url 'queries' %}">Complaint Portal</a>
            <a href="{%url 'polls' %}">Polls</a>
            {% if not user.is_staff %}
                <a href="{%url 'send_anon_complaint' %}">Complain2HEC</a>
            {% endif %}
            {% if user.is_staff %}
                <a href="{%url 'anon_complaints_view' %}">Anon Complaints</a>
                <a href="{%url 'make_announcement' %}">Make Announcement</a>
            {% endif %}
            <a href="{%url 'change_password' %}">Change Password</a>
            <a href="{%url 'logout' %}">Logout</a>
        </div>
    </header>

    <!-- Sidenav -->
    <!--<div class="sidenav">
        <div class="profile">
            <img src="https://imdezcode.files.wordpress.com/2020/02/imdezcode-logo.png" alt="" width="100" height="100">

            <div class="name">
                ImDezCode
            </div>
            <div class="job">
                Web Developer
            </div>
        </div>

        <div class="sidenav-url">
            <div class="url">
                <a href="#profile" class="active">Profile</a>
                <hr align="center">
            </div>
            <div class="url">
                <a href="#settings">Settings</a>
                <hr align="center">
            </div>
        </div>
    </div> -->
    <!-- End -->

    <!-- Main -->
    <br>
    <br>
    <div class="main">
        <h2 align = "center" style="color:rgb(216, 197, 197);">Profile</h2>
        <div class="card">
            <div class="card-body">
                <table>
                    <tbody>
                        <tr>
                            <td>First Name</td>
                            <td>:</td>
                            <td>{{user.first_name}}</td>
                        </tr>
                        <tr>
                            <td>Last Name</td>
                            <td>:</td>
                            <td>{{user.last_name}}</td>
                        </tr>
                        <tr>
                            <td>Roll Number</td>
                            <td>:</td>
                            <td>{{user.username}}</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>:</td>
                            <td>{{user.email}}</td>
                        </tr>
                        <tr>
                            <td>Address</td>
                            <td>:</td>
                            <td>{{profile.address}}</td>
                        </tr>
                        <tr>
                            <td>Contact</td>
                            <td>:</td>
                            <td>{{profile.contact_number}}</td>
                        </tr>
                        <tr>
                            <td>Parent Name:</td>
                            <td>:</td>
                            <td>{{profile.parent_name}}</td>
                        </tr>
                        <tr>
                            <td>Parent Contact</td>
                            <td>:</td>
                            <td>{{profile.parent_contact}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!--<h2>SOCIAL MEDIA</h2>
        <div class="card">
            <div class="card-body">
                <i class="fa fa-pen fa-xs edit"></i>
                <div class="social-media">
                    <span class="fa-stack fa-sm">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fab fa-facebook fa-stack-1x fa-inverse"></i>
                    </span>
                    <span class="fa-stack fa-sm">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                    </span>
                    <span class="fa-stack fa-sm">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
                    </span>
                    <span class="fa-stack fa-sm">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fab fa-invision fa-stack-1x fa-inverse"></i>
                    </span>
                    <span class="fa-stack fa-sm">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                    </span>
                    <span class="fa-stack fa-sm">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fab fa-whatsapp fa-stack-1x fa-inverse"></i>
                    </span>
                    <span class="fa-stack fa-sm">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fab fa-snapchat fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>-->
    <!-- End -->


{% comment %} </div>
<ul class="nav nav-tabs float-right">
    <li class="nav-item">
        <a class="nav-link" href="{%url 'bookings' %}" style="font-family: 'Nunito Sans', sans-serif;">
            <i class="fa fa-calendar"></i> Guest Room Booking
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{%url 'queries' %}" style="font-family: 'Nunito Sans', sans-serif;text-decoration: none;"><i class="fas fa-flag"></i> Complaint Portal</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{%url 'polls' %}" style="font-family: 'Nunito Sans', sans-serif;">
            <i class="fas fa-pie-chart"></i> Polls
        </a>
    </li>
    {% if not user.is_staff %}
    <li class="nav-item">
        <a class="nav-link" href="{%url 'send_anon_complaint' %}" style="font-family: 'Nunito Sans', sans-serif;text-decoration: none;"><i class="fas fa-user-secret"></i> Complain2HEC</a>
    </li>
    {% endif %}
    {% if user.is_staff %}
    <li class="nav-item">
        <a class="nav-link" href="{%url 'anon_complaints_view' %}" style="font-family: 'Nunito Sans', sans-serif;text-decoration: none;"><i class="fas fa-user-secret"></i> Anon Complaints</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{%url 'make_announcement' %}" style="font-family: 'Nunito Sans', sans-serif;">
            <i class="fa fa-newspaper-o"></i> Make Announcement
        </a>
    </li>
    {% endif %}
    <li class="nav-item">
        <a class="nav-link" href="{%url 'change_password' %}" style="font-family: 'Nunito Sans', sans-serif;">
            <i class="fa fa-key"></i> Change Password
        </a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="{%url 'logout' %}" style="font-family: 'Nunito Sans', sans-serif;text-decoration: none;">
        <i class="fas fa-sign-out-alt"></i> Logout
    </a>
    </li>
</ul>
<div class="container" style="margin-top: 60px;">
    <div class="row">
        <div class="col-12 col-md-8 offset-md-2">   
            <div class="card shadow-sm border-0 rounded-lg">
                <div class="card-body bg-light">
                    <div class="d-flex justify-content-center align-items-center mb-4">
                        <img src="{% static 'img/user.png' %}" alt="User Icon" width="60" height="60">
                        <h4 class="ms-3 mb-0">Profile Information</h4>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="first-name" class="form-label fw-bold">First Name</label>
                                <input type="text" id="first-name" class="form-control" value="{{user.first_name}}" readonly>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="last-name" class="form-label fw-bold">Last Name</label>
                                <input type="text" id="last-name" class="form-control" value="{{user.last_name}}" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="username" class="form-label fw-bold">Username</label>
                                <input type="text" id="username" class="form-control" value="{{user.username}}" readonly>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="email" class="form-label fw-bold">Email</label>
                                <input type="email" id="email" class="form-control" value="{{user.email}}" readonly>
                            </div>
                        </div>
                    </div>
                    {% if not user.is_staff %}
                    <a href="{% url 'user_dues' %}" class="btn btn-primary mx-auto">View Dues</a>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/script.min.js?h=27ef3fac33c48f9cf9938d349cb0b7e1"></script>
{%endblock%} {% endcomment %}
</body>
</html>