<form action="" method="POST" id="complaintform">
    {% csrf_token %}
    <div class="form-group">
        <label for="roll_number_booker">roll_number_booker:</label>
        <input type="number" name="roll_number_booker" id="roll_number_booker" placeholder="Your Complaint" class="form-control">
    </div>
    <div class="form-group">
        <label for="name_referred_student">name_referred_student:</label>
        <input type="text" name="name_referred_student" id="name_referred_student" placeholder="Your Complaint" class="form-control">
    </div>
    <div class="form-group">
        <label for="name_of_booker">name_of_booker:</label>
        <input type="text" name="name_of_booker" id="name_of_booker" placeholder="Your Complaint" class="form-control">
    </div>
    <div class="form-group">
        <label for="roll_number_referred_student">roll_number_referred_student:</label>
        <input type="number" name="roll_number_referred_student" id="roll_number_referred_student" placeholder="Your Complaint" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>